@import "tailwindcss";
@plugin "daisyui";

 
.active-link {
  color: #2563eb; /* Tailwind's blue-600 */
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 4px;
}
 /* index.css or global.css */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
